:host,
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host {
  padding: 2% 8%;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: -15px 10px 13px -13px #111;
  background-color: #fff;
}

.filters {
  width: 50%;
}
